__pycache__
*node_modules/*
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
MANIFEST
*.manifest
*.spec
.cache
*.log
local_settings.py
db.sqlite3
__pypackages__/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env
test.py
.venv-proto/
static/resource/worklets/

# 本地资产,不进提交
tests/
docs/
.idea/
*.egg-info/
dev/fresh_cookie.txt
